* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    border: 2px solid red;
    max-width: 500px;
    border-radius: 1rem;
}

.display {
    width: 100%;
    padding: 12px 16px;
    border: none;
    margin-top: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    gap: 20px;
}

button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.517);
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.199);


}
