* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

button {
    padding: 12px 16px;
    width: 150px;
    border: none;
    border-radius: 2rem;
    background-color: rgb(168, 6, 6);
}

button:hover {
    cursor: pointer;
    background: gray;
}

button:active {
    background: #fff;
    color: #000;
}

h2 {
    text-align: center;
    margin: 30px;
    color: #000;
}